# Ambiente
.env

# Maven
target/

# IDE
.idea/
*.iml
.vscode/

# Java
*.class

# Docs internos
docs/

# Solver Python
solver/.venv/
**/__pycache__/
**/.pytest_cache/
solver/osrm/data/

# OS
.DS_Store

# claude
.claude
